@import "cardstyles";
@import "socialmedia";
body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
}

.home-container {
  text-align: center;
  padding: 10px;
}

.artist-name {
  color: #00f;
  font-size: 3em;
}

.artwork-section h2,
.soundcloud-player h2 {
  margin-top: 20px;
  font-size: 2em;
}

.artwork-item {
  margin: 20px 0;
}

.soundcloud-player {
  margin-top: 40px;
}
.bio-footer {
  margin-top: 40px;
}

.bio-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00f;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2em;
}

.bio-button:hover {
  background-color: #0056b3;
}
